

div class="text-center  bg-light p-2 text-red bg-opacity-75">
  <h2>{{location}}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>


  <p>Created by ~~{{user.name}} on {{format_date date_created}}</p>
  <p>
      Rating:{{hotdog.ratingr}}
    
    </p>
  
  <p>
    <button class="btn btn-primary">Thank you!</button>
  </p>
</div>
