{{#each hotdogs as |hotdog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
  
      <!-- Call helper function with triple brackets to render the pics span as HTML -->
     {{{get_emoji}}}
      <a href="/hotdog/{{hotdog.id}}">{{hotdog.location}}</a>
    
    
    <p>
      rating:{{hotdog.rating}}
    
    </p>
    <p>Created by {{hotdog.user.name}} on {{format_date hotdog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{hotdog.description}}
    </p>
  </div>
</div>
{{/each}}
